{% extends "shortener/base.html" %}

{% block main %}

<div class="about-section container">

<h1>Про нас</h1>

<div class="about-content">

    <div class="about-image">
        <img class='about-img' src="../../../media/about.jpg" alt="Cat team">
    </div>

    <div class="about-text">

        <h2>Для чого скорочувати посилання?</h2>

        <p>
            Довгі вебадреси часто містять багато символів, цифр і додаткових
            параметрів, через що їх незручно копіювати, передавати або
            використовувати в тексті. Скорочення дозволяє перетворити довгу
            адресу на компактне та зручне посилання.
        </p>
        <p>
            Короткі посилання роблять інформацію більш охайною та зрозумілою.
            Їх зручно використовувати в повідомленнях, документах,
            презентаціях та інших матеріалах, де довга URL-адреса може
            займати багато місця.
        </p>
        <p>
            ShortLink створений для того, щоб зробити роботу з посиланнями
            максимально простою. Користувач може швидко створити короткий
            код, зберегти посилання у своєму профілі та перейти до потрібного
            ресурсу за короткою адресою.
        </p>

    </div>

</div>

</div>

{% endblock %}