@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: white;
    font-weight: 300;
    font-family: "Monserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: rgb(226 79 13 / 0.99);
    font-weight: 600;
    text-decoration: none;
    transition: color 500ms ease;
}
a:hover{
    color: #1f1f1f;
}
main {
    flex-grow: 1;
}
.container{
    width: 1258px;
    padding: 20px;
    margin: 0 auto;
}

header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    /* margin-right: 26px; */
}
.logo-section{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    align-items: center;
}

header > nav a {
    margin-left: 20px;
    text-align: center;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


.hero h1{
    font-size: 46px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.hero p{
    margin-bottom: 20px;
}
.hero .btn {
    color: white;
    text-decoration: none;
    border: none;
    padding: 8px 10px;
    background-color: rgb(226 79 13 / 0.99);
    border-radius: 5px;
    transition: transform 500ms ease;
}

.hero .btn:hover{
    background-color: rgb(178 57 15 / 0.99);
    transform: scale(1.10);
}

.text-info{
    width: 160px;
    margin: 0;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .btn {
    color: rgb(0 0 0 / 0.75);
    text-decoration: none;
    border: none;
    transition: transform 500ms ease;
    padding: 8px 10px;
    cursor: pointer;
    background-color: rgb(116 112 112 / 0.74);
    border-radius: 5px;
    margin-left: 20px;

}

nav .btn:hover{
    color: white;
    background-color: rgb(226 79 13 / 0.99);
    transform: scale(1.10);
}
.form-section{
    box-sizing: border-box;
    background-color: rgb(246 148 62 / 0.35);
    padding: 40px 30px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 5%);
    width: 450px;
}
.about-section{
    box-sizing: border-box;
    background-color: rgba(224, 201, 181, 0.923);
    padding: 40px 30px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 5%);
    width: 90%;
}
.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.about-section h1{
    margin-left: 30px;
    margin-bottom: 14px;
}
.about-img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.about-text h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
.about-text p{
    margin-bottom: 18px;
    font-size: 22px;
}
form textarea{
    display: block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0;
    font-size: 14px;
}
form label{
    margin-top: 15px;
    display: inline-block;
    font-weight: 600;
}
form .helptext,
form .password-rules{
    width: 250px;
    font-size: 13px;
    display: block;
    color: black;
}

form input {
    font-family: "Monserrat", sans-serif;
    display: block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0;
    font-size: 14px;
}
.form-section .exit{
    display: block;
    margin: 10px auto;
}
.form-section > p{
    text-align: center;
}
.form-section button{
    margin-top: 10px;
    padding: 7px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(226 79 13 / 0.99);
    color: white;
    transition: transform 500ms ease;
    cursor: pointer;
}

.form-section button:hover{
    transform: scale(1.1);
}

#id_message{
    width: 70%;
}

.title-link{
    margin-bottom: 20px;
}

.block-link{
    text-align: center;
}
.block-link .link-short:hover{
    color: rgb(226 79 13 / 0.99);
}
.user-link{
    margin-bottom: 10px;
}
footer{
    flex-shrink: 0;
    margin-top: 100px;
    width: 100%;
    background-color: rgba(160, 139, 121, 0.606);
}

.footer-section{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 8px  0;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    background-color: #67635f4b;
    transition: 0.3s;
}

.social-links a:hover {
    transform: translateY(-3px);
}

.errorlist{
    color: #a50606;
    list-style: none;

}