@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: white;
    font-weight: 300;
    font-family: "Monserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: #6f6f6f;
    text-decoration: none;
    transition: color 500ms ease;
}
a:hover{
    color: #1f1f1f;
}
main {
    flex-grow: 1;
}
.container{
    width: 1258px;
    padding: 20px;
    margin: 0 auto;
}

header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}


header > nav a {
    margin-left: 20px;
    text-align: center;
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


.hero h1{
    font-size: 46px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.hero p{
    margin-bottom: 20px;
}
.hero .btn {
    color: white;
    text-decoration: none;
    border: none;
    padding: 8px 10px;
    /*margin: 2px;*/
    background-color: rgb(226 79 13 / 0.99);
    border-radius: 5px;
    margin-left: 50px;
    transition: transform 500ms ease;
}

.hero .btn:hover{
    background-color: rgb(178 57 15 / 0.99);
    transform: scale(1.10);
}

.text-info{
    width: 160px;
    position: relative;
    left: -260px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .btn {
    color: rgb(0 0 0 / 0.75);
    text-decoration: none;
    border: none;
    transition: transform 500ms ease;
    padding: 8px 10px;
    /*margin: 2px;*/
    background-color: rgb(116 112 112 / 0.74);
    border-radius: 5px;
    margin-left: 50px;

}

nav .btn:hover{
    color: white;
    background-color: rgb(226 79 13 / 0.99);
    transform: scale(1.10);
}
.form-section{
    box-sizing: border-box;
    background-color: rgb(246 148 62 / 0.35);
    padding: 40px 30px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 5%);
    width: 450px;
}

form textarea{
    display: block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0;
    font-size: 14px;
}
form label{
    margin-top: 15px;
    display: inline-block;
    font-weight: 600;
}
form .helptext,
form .password-rules{
    width: 250px;
    font-size: 13px;
    display: block;
    color: black;
}

form input {
    font-family: "Monserrat", sans-serif;
    display: block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0;
    font-size: 14px;
}
.form-section .exit{
    display: block;
    margin: 10px auto;
}
.form-section > p{
    text-align: center;
}
.form-section button{
    margin-top: 10px;
    padding: 7px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(226 79 13 / 0.99);
    color: white;
    transition: transform 500ms ease;
    cursor: pointer;
}

.form-section button:hover{
    transform: scale(1.1);
}

#id_message{
    width: 70%;
}


footer{
    flex-shrink: 0;
    margin-top: 100px;
    width: 100%;
    background-color: rgb(101 103 103 / 0.26);
    padding: 16px;
    text-align: center;
}



.errorlist{
    color: #a50606;
    list-style: none;

}