{% extends "shortener/base.html" %}

{% block main %}

<div class="form-section container">

{% if user.is_authenticated %}

    <h1>Посилання не знайдено</h1>

    <p>
        На жаль, такого скороченого посилання не існує.
    </p>

    <p>
        <a href="{% url 'links' %}">
            Повернутися до моїх посилань
        </a>
    </p>

{% else %}

    <p>
        Щоб продовжити роботу з посиланнями, авторизуйтеся.
    </p>

    <p>
        <a href="{% url 'user' %}">
            Увійти в особистий профіль
        </a>
    </p>

    <p>
        <a href="{% url 'reg' %}">
            Зареєструватися
        </a>
    </p>

{% endif %}

</div>

{% endblock %}